@import '../../assets/fonts/Fonts.css';


::placeholder {
  font-family: PoppinsLight;
  color: black;
}



.dependents-parent {
  position: relative;

}

.dependents-divide {
  display: flex;
}

.dependents-divide input {
  width: 80%;
}

.admin-container {
  display: flex;
  flex-direction: column;
  border-right: 50px solid #F5D8D2;
  min-height: 90vh;

}

.add-btn {
  font-family: PoppinsRegular;
  background: transparent;

  border: transparent;
  margin: 25%;
}

.three-wide {
  display: flex;
  flex-wrap: wrap;
}