@import '../../assets/fonts/Fonts.css';

body{
  background-color: #F7F0E8;
  min-height: 100vh;
}

.borderRadius {
  border-radius: 0% !important;
}

.login-form {
  max-width: 440px;
  margin: auto;
  padding: 2rem;
}

.login-input {
  margin-bottom: 1rem !important;
  background-color: #C4AFAC;
  padding: 0.5rem;
}

.login-input:hover {
  background-color: #F2C1BC;
}

.login-input-label {
  color: #555;
  font-weight: 500;
  font-size: 1rem;
}

.login-input-field {
  font-size: 1.1rem;
  color: #333;
}


.registrationText {
  display: flex;
  justify-content: flex-end;
  white-space: pre;
}

.loginBtn {
  width: 100%;
  height: 70px;
  background-color: #F2C1BC !important;
  color: black !important;
  font-family: PoppinsRegular !important;
  font-size: 20px !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.LogoMargin {
  margin-top: 80px;
}


/* Design */
.elliptical-shape {
  width: 100%;
  height: 140px;
  background-color: #f2c1bc;
  position: relative;
  transform: skewY(-5deg);
}

.elliptical-shape::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100px;
  left: -100px;
  border-radius: 50%;
  background-color: #fff;
  transform: skewY(0deg);
}