@import '../assets/fonts/Fonts.css';

.NavColor {
    background-color: #F5D8D2; 
    /* This is for the 50% opacity of #F2C1BC */
    /* If we set navbar opacity to 50% then you'll see through the hamburger dropdown. So using a lighter pink color with no opacity */
}

.NavFont{
    font-family: PoppinsLight;
    color: black;
    font-size: 2rem;
    display: flex;
}
