.admin-card-parent {

    justify-content: space-around;
    font-family: PoppinsLight;

}
.admin-card-bg {
    justify-content: center;
    background: #F2C1BC;
    border: 1px solid;
    border-color: black;
    display: table;
    padding: 25px;
    margin: 25px;
    width: calc(82% - 10px);
    max-height: 350px;
}

.admin-card-body {
    background-color: #fff;
    position: relative;
    padding: 10px 10px 15% 10px;
    display: flex;
    flex-direction: column;


}

.admin-card-body img {
    width: 100%;
    border: 1px solid black;
    /* background-color:; */
}



.admin-card-body button:hover {
    background: #a30c0f;

}