@import '../../assets/fonts/Fonts.css';

body,
html {
  min-height: 100vh !important;
}

.parent-bg {
  background-color: #F7F0E8;
  min-height: 100vh;
}

.table-parent {
  min-height: 100vh;
  max-width: 500px;
  justify-content: flex-end;
  display: flex;

}

.table-parent th {
  background: #C4AFAC;
  border: 3px solid;
  border-color: black;
  padding: 10%;
  text-align: center;
  white-space: nowrap;
  font-family: PoppinsRegular;
  width: 100%;
}

.table-parent tr {
  background-color: #F2C1BC;
  align-items: center;
  display: table;
  text-align: center;
  padding: 3%;
  margin-top: 10px;
  width: 100%;
  font-family: PoppinsRegular;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.375);
  border: 3px solid;
  border-color: black;
  border-radius: 10px;
  white-space: nowrap;

}

.table-parent td {
  margin-right: 5%;

}

#time {
  font-family: PoppinsSemiBold;
}

form.add-form-schedules-page {
  font-family: PoppinsLight;
  background: white;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.add-form-schedules-page input,
.add-form-schedules-page textarea {
  background-color: #F2C1BC;
  border: 1px solid black;
  margin-bottom: 10px;
  display: block;
}


.form-wrapper {
  width: 100%;
  height: 100%;
}

.add-form-schedules-page {
  font-family: PoppinsLight;
  background: white;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-btn {
  font-family: PoppinsRegular;
  background: rgba(242, 193, 188, 0.5);
  border-radius: 6px;
  box-shadow: 0 2px 5px black;
}

.my-btn:hover {
  background-color: #C4AFAC;
}