@import '../../assets/fonts/Fonts.css';


.card-parent {

    justify-content: space-around;
    font-family: PoppinsLight;

    max-height: 50%;
    max-width: 33%;
}
.card-bg {
    justify-content: center;
    background: #F2C1BC;
    border: 1px solid;
    border-color: black;
    display: table;
    padding: 25px;
    margin: 25px;
    width: calc(82% - 10px);
    max-height: 350px;
}

.card-body {
    background-color: #fff;
    position: relative;
    padding: 10px 10px 35% 10px;
    display: flex;
    flex-direction: column;


}

.card-body img {
    width: 100%;
    border: 1px solid black;
    /* background-color:; */
}

.card-body button {
    position: absolute;
    background: #903B3C;
    color: #fff;
    border: 0;
    border-radius: 10px;
    left: 45%;
    bottom: 0;
    font-family: PoppinsLight;
    display: flex;
    width: 8vw;
    white-space: nowrap;
    box-shadow: 0 2px 5px black;
    margin-bottom: -10px;
font-size: 1vw;
align-items: center;
}

.card-body button:hover {
    background: #a30c0f;

}

@media (max-width: 525px) {
    .card-body button {
        display: none;
    }
    .card-bg {
        background: transparent;
        margin: 0; padding: 0;
        border: 0px;
    }
    .card-body {
        background-color: transparent;
        text-align: center;
    }
    .card-body img {
        width: 33vw;
    }
    .card-parent {
        margin: 0;
    }
}